@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white;
}

.de_active {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    margin: 0px 3px;
}

ul.pagination li a {
    line-height: 22px;
    color: #888;
    font-size: 0.7rem;
    transition-property: hover, 0.5s;
    text-align: center;
}

ul.pagination li.active a {
    color: #fff;
    border-radius: 300%;
}

ul.pagination li.active {
    color: #fff;
    background: #666;
    border-radius: 300%;
}

ul.pagination li:hover {
    color: #fff;
    background: #999;
    border-radius: 300%;
    cursor: pointer;
    a {
        color: #fff;
    }
}

.loading_container {
    margin: auto;
    display: block;
    shape-rendering: auto;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.dropdown_radio {
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate3d(522.5px, 3847.5px, 0px);
}

a {
    @apply text-primary-600;
}
